#Page1content_Label1 {
  width: 80px;
}

#Page1content_Label1 {
  height: 30px;
}

#Page1content_Label1 {
  top: 60px;
  position: absolute;
}

#Page1content_Label1 {
  left: 120px;
  position: absolute;
}

#Page1content_Label1 {
  z-index: 0;
}

#Page1content_RadialGauge1 {
  width: 200px;
}

#Page1content_RadialGauge1 {
  height: 200px;
}

#Page1content_RadialGauge1 {
  top: 140px;
  position: absolute;
}

#Page1content_RadialGauge1 {
  left: 220px;
  position: absolute;
}

#Page1content_RadialGauge1 {
  z-index: 1;
}
