#Page2Content_Label1 {
  height: 30px;
}

#Page2Content_Label1 {
  top: 100px;
  position: absolute;
}

#Page2Content_Label1 {
  left: 100px;
  position: absolute;
}

#Page2Content_Label1 {
  width: 140px;
}

#Page2Content_Label1 {
  z-index: 0;
}

#Page2Content_NumericOutput1 {
  width: 100px;
}

#Page2Content_NumericOutput1 {
  height: 30px;
}

#Page2Content_NumericOutput1 {
  top: 180px;
  position: absolute;
}

#Page2Content_NumericOutput1 {
  left: 120px;
  position: absolute;
}

#Page2Content_NumericOutput1 {
  z-index: 1;
}
